*,
*::before,
**::after {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.75;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1100px;
}

.dortyWrap {
  text-align: center;
}
