.navbar {
  display: flex;
  align-items: center;
  justify-content: center;

  .nav-center {
    width: 90vw;
    .nav-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
