.hDivider {
  margin: auto;
  margin-top: 80px;
  width: 80%;
  position: relative;
}

.hDivider .shadow {
  overflow: hidden;
  height: 20px;
}

.hDivider .shadow:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px black;
}
