// .imgGallery {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 5px;

//   .img {
//     margin: 0.4em 0;
//     flex: 1 1 160px;
//   }
// }

.imgGallery {
  column-count: 2;
  column-gap: 10px;

  .img {
    margin-bottom: 10px;
  }
}

//******** MEDIA QUERIES *********//

// 700px breakpoint
@media (min-width: 635px) {
  .imgGallery {
    column-count: 3;
  }
}

@media (min-width: 950px) {
  .imgGallery {
    column-count: 4;
  }
}
