#site__footer {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.65),
      rgba(255, 255, 255, 0.65)
    ),
    url("../assets/images/vertical-waves.png");
  background-size: auto, auto;
  background-attachment: fixed;
  background-repeat: repeat;
}

.footer__wrap {
  padding: 2em 0;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .link {
    margin: 0 0 0.5em;
  }

  p {
    max-width: 300px;
  }

  img.chef {
    width: 100px;
  }

  .nav__item {
    padding: 0.5em 0;
    p {
      margin: 0.2em 0;
    }
  }
}

//******** MEDIA QUERIES *********//

// 700px breakpoint
@media (min-width: 700px) {
  .footer__wrap {
    display: flex;
    align-items: flex-start;

    .col {
      width: 100%;

      .nav__item {
        display: flex;
        align-items: center;
        gap: 8px;

        .ulice {
          text-align: left;
        }
      }
    }

    .web__logo {
      align-self: center;
    }
  }
}
