.footer__wrap {
  padding: 2em 0;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  

  h4 {
    margin: 0 0 0.5em;
  }

  p {
    max-width: 300px;
  }

  img.chef {
    width: 100px;
  }

  .nav__item {
    padding: 0.5em 0;
    p {
      margin: 0.2em 0;
    }
  }
}

//******** MEDIA QUERIES *********//

// 700px breakpoint
@media (min-width: 700px) {
  .footer__wrap {
    display: flex;
    align-items: flex-start;

    .col {
      width: 100%;

      .nav__item {
        display: flex;
        gap: 8px;
        margin: 0.5em 0;
      }
    }

    .web__logo {
      align-self: center;
    }
  }
}
