.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .nav-header {
    display: flex;
    justify-content: space-between;

    #logo {
      width: 150px;
      height: auto;
    }

    button.nav-btn {
      display: none;
    }
  }

  .headerNavLinks {
    display: flex;
    justify-content: center;
    gap: 3rem;

    .headerNavLink {
      color: black;
    }
  }
}

@media screen and (max-width: 760px) {
  .header {
    flex-direction: column;

    .nav-header {
      justify-content: space-between;
      width: 90%;

      button.nav-btn {
        display: inline-block;
      }
    }

    .headerNavLinks {
      flex-direction: column;
      height: 0;
      overflow: hidden;
    }
    .show-links {
      height: auto;
      overflow: visible;
    }
  }
}
