.imgGallery {
  column-count: 2;

  .img {
    margin-bottom: 10px;
  }
}

//******** MEDIA QUERIES *********//

// 700px breakpoint
@media (min-width: 635px) {
  .imgGallery {
    column-count: 3;
  }
}

@media (min-width: 950px) {
  .imgGallery {
    column-count: 4;
  }
}
